# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore npm debug log
npm-debug.log

# Ignore Mac OS system files
.DS_Store

# Ignore any files in build or dist directories
/build
/dist

# Ignore package-lock.json for projects using npm
package-lock.json